.gradientText {
  background: -webkit-linear-gradient(
    160.43deg,
    #ee288a 1.87%,
    #f26c6b 50.93%,
    #f58e35 99.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroBig {
  margin-top: 100px;
  text-align: center;
  font-weight: 900;
  font-size: 110px;
  line-height: 124px;
  letter-spacing: 0.05em;
  span {
    font-size: 85px;
    line-height: 100px;
    color: #fff !important;
  }

  @media only screen and (max-width: 1700px) {
    font-size: 96px;
    line-height: 110px;
  }
  @media only screen and (max-width: 1450px) {
    font-size: 70px;
    line-height: 90px;
    margin-top: 100px;

    span {
      font-size: 55px;
      line-height: 65px;
    }
  }
  @media only screen and (max-width: 1000px) {
    font-size: 50px;
    line-height: 70px;
    margin-top: 70px;

    span {
      font-size: 40px;
      line-height: 60px;
    }
  }
  @media only screen and (max-width: 600px) {
    font-size: 30px;
    line-height: 36px;
    margin-top: 35px;

    span {
      font-size: 25px;
      line-height: 35px;
    }
  }
}

.heroBigRewards {
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.05em;
  span {
    font-size: 40px;
    line-height: 40px;
    color: #fff !important;
  }
}

.rewards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.reward {
  margin: 10px;
  // width: 300px;
}

.presents {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.heroSmall {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 100px;

  @media only screen and (max-width: 1450px) {
    font-size: 25px;
    line-height: 35px;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 22px;
    line-height: 30px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 40px;
  }
}

.heroAttendanceWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.heroAttendance {
  // max-width: 500px;
  margin-bottom: 20px;

  display: inline-flex;

  > * > * {
    display: inline-flex;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  h3 {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    margin-bottom: 2px !important;
  }
  h4 {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    opacity: 0.75;
    margin-bottom: 2px !important;
  }
  @media only screen and (max-width: 1250px) {
    h3 {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    h4 {
      font-size: 13px;
      line-height: 15px;
    }
  }
}

.untilShowtime {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  @media only screen and (max-width: 1250px) {
    font-size: 30px;
    line-height: 40px;
  }
  @media only screen and (max-width: 1250px) {
    font-size: 20px;
    line-height: 30px;
  }
  @media only screen and (max-width: 600px) {
  }
}

.daysHours {
  font-weight: 900;
  font-size: 100px;
  line-height: 118px;
  text-align: center;
  margin-bottom: 150px;
  @media only screen and (max-width: 1250px) {
    font-size: 70px;
    line-height: 90px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 50px;
    line-height: 60px;
  }
  @media only screen and (max-width: 600px) {
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 41px;
  }
}

.gradientBorderWrap {
  width: 100%;
  padding: 2px;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(160.43deg, #f37360 0%, #1f232b 50%, #1f232b 100%);
}

.gradientBorderWrapReward {
  // width: 100%;
  padding: 2px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(160.43deg, #f37360 0%, #1f232b 50%, #1f232b 100%);
}

.send {
  position: absolute;
  bottom: -30px;
  width: calc(100% - 240px);
  @media only screen and (max-width: 1450px) {
    width: calc(100% - 120px);
  }
  @media only screen and (max-width: 1000px) {
    width: calc(100% - 60px);
  }
  @media only screen and (max-width: 600px) {
    width: calc(100% - 40px);
  }
}

.gradientBorder {
  background: #1f232b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  // div {
  //   width: 30%;
  // }
  p {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 40px;
  }
  h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }
  h5 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }

  @media only screen and (max-width: 1450px) {
    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 40px;
    }
    h4 {
      font-size: 28px;
      line-height: 39px;
    }
    h5 {
      font-size: 25px;
      line-height: 32px;
    }
  }

  @media only screen and (max-width: 1250px) {
    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 40px;
    }
    h4 {
      font-size: 20px;
      line-height: 28px;
    }
    h5 {
      font-size: 25px;
      line-height: 32px;
    }
  }

  @media only screen and (max-width: 800px) {
    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 40px;
    }
    h4 {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }
    h5 {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    h4 {
      text-align: center;
    }
    h5 {
      text-align: center;
    }
  }
}

.gradientBorderReward {
  background: #1f232b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  // div {
  //   width: 30%;
  // }
  p {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 40px;
  }
  h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }
  h5 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }

  @media only screen and (max-width: 1450px) {
    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 40px;
    }
    h4 {
      font-size: 28px;
      line-height: 39px;
    }
    h5 {
      font-size: 25px;
      line-height: 32px;
    }
  }

  @media only screen and (max-width: 1250px) {
    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 40px;
    }
    h4 {
      font-size: 20px;
      line-height: 28px;
    }
    h5 {
      font-size: 25px;
      line-height: 32px;
    }
  }

  @media only screen and (max-width: 800px) {
    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 40px;
    }
    h4 {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }
    h5 {
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    h4 {
      text-align: center;
    }
    h5 {
      text-align: center;
    }
  }
}

.send23 {
  width: 23%;
  border-right: 1px solid rgba(0, 0, 0, 0.15);

  @media only screen and (max-width: 1000px) {
    width: 100%;
    margin-bottom: 20px;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 10px;
  }
}

.send48 {
  width: 48%;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
}

.girl {
  width: 40%;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  @media only screen and (max-width: 1000px) {
    width: 1000%;
    text-align: center;
    img {
      display: none;
    }
  }
}

.girlPhone {
  margin-top: -30px;
  width: 40%;
  display: none;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  @media only screen and (max-width: 1000px) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.width60 {
  z-index: 1;
  width: 60%;
  padding-left: 30px;
  @media only screen and (max-width: 1000px) {
    width: 100%;
    padding: 20px;
    // padding-left: 0px;
    // padding-right: 0px;
  }
}

.footer {
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 120px 120px 120px;

  @media only screen and (max-width: 1250px) {
    padding: 50px 60px 60px 60px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 30px 30px 30px 30px;
  }
  @media only screen and (max-width: 850px) {
    padding: 30px 30px 30px 30px;
    flex-direction: column;
  }
  a {
    border: none;
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

.footerSection {
  display: flex;
  align-items: center;
  font-size: 40px;
  line-height: 60px;
  text-align: right;
  color: #ffffff;
  font-weight: 500;

  img {
    margin-left: 20px;
  }

  @media only screen and (max-width: 1450px) {
    font-size: 30px;
    line-height: 50px;
  }
  @media only screen and (max-width: 850px) {
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 20px;
    line-height: 30px;
    img {
      width: 24px;
    }
  }
}

.inputWrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 13px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 55px;
  width: 100%;
  input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5);
    caret-color: #fa8d11;
  }
}

button.btn {
  background: linear-gradient(
    160.43deg,
    #f58e35 1.87%,
    #f26c6b 50.93%,
    #ee288a 99.33%
  );
  box-shadow: 2px 5px 20px rgba(246, 110, 46, 0.3);
  border-radius: 15px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 55px;
  margin-left: 13px;
}

button.btnReward {
  background: linear-gradient(
    160.43deg,
    #f58e35 1.87%,
    #f26c6b 50.93%,
    #ee288a 99.33%
  );
  box-shadow: 2px 5px 20px rgba(246, 110, 46, 0.3);
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  // width: 200px;
  padding: 0 20px;
  height: 40px;
  margin-left: 13px;
  display: inline-block;
}

//////////////work

.inputBtn {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;

    button {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

.label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  // opacity: 0.5;
  img {
    margin-right: 15px;
    height: 25px;
  }
}

.val {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.hero {
  position: relative;
  padding: 100px 120px;
  background-color: 151921;
  max-width: 1920px;
  width: 100%;

  // height: 90vh;
  .logo {
    width: 597px;
  }
  @media only screen and (max-width: 1450px) {
    padding: 50px 60px;

    .logo {
      width: 300px;
    }
  }
  @media only screen and (max-width: 1000px) {
    padding: 40px 30px 330px 30px;

    .logo {
      width: 300px;
    }
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 20px 400px 20px;

    .logo {
      width: 220px;
      margin: 0 auto;
    }
  }
}

.heroRewards {
  position: relative;
  padding: 50px 60px;
  background-color: 151921;
  max-width: 1920px;
  width: 100%;

  // height: 90vh;
  .logo {
    width: 300px;
  }
  @media only screen and (max-width: 1450px) {
    padding: 50px 60px;

    .logo {
      width: 300px;
    }
  }
  @media only screen and (max-width: 1000px) {
    padding: 40px 30px 330px 30px;

    .logo {
      width: 300px;
    }
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 20px 400px 20px;

    .logo {
      width: 220px;
      margin: 0 auto;
    }
  }
}

.background {
  min-height: 100vh;
  width: 100vw;
  background-image: url(./assets/new/back.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 600px) {
    min-height: auto;
    background-attachment: default;
    background-size: 100vw;
    background-position: top center;
    background-image: url(./assets/new/BackPhone.png);
  }
}

.background2 {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  // > * {
  //   width: 1440px;
  // }
}

body {
  background-color: #151921;
}

.main {
  max-width: 1920px;
  width: 100%;
  padding: 170px 120px 100px 120px;
  @media only screen and (max-width: 1000px) {
    padding: 150px 60px 90px 60px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 130px 30px 80px 30px;
  }
  @media only screen and (max-width: 600px) {
    padding: 80px 30px 50px 30px;
  }
}

.hr {
  background: linear-gradient(160.43deg, #1f232b 0%, #f37360 50%, #1f232b 100%);
  height: 3px;
  width: 100%;
  max-width: 1920px;
}

.logosHero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 520px) {
    flex-direction: column;
    img {
      margin-bottom: 20px !important;
    }
  }
}

.logosHeroRewards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 520px) {
    flex-direction: column;
    img {
      margin-bottom: 20px !important;
    }
  }
}

.logosMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1060px;
  margin: 0 auto 100px auto;
  img {
    margin: 0 25px 50px 25px;
  }
  @media only screen and (max-width: 600px) {
    img {
      margin: 0 10px 20px 10px;
      height: 28px;
    }
    margin-bottom: 45px;
  }
}

.predpredaj {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    margin: 0 20px 100px 20px;
  }
}

.unutar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px;
  p {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  button {
    margin: 0;
  }
}

.winner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 35px;
  // p {
  //   font-weight: bold;
  //   font-size: 14px;
  //   line-height: 24px;
  //   text-align: center;
  //   color: #ffffff;
  //   margin: 0;
  // }
  // button {
  //   margin: 0;
  // }
  img {
    width: 665px;
    margin-bottom: 30px;
  }
}

.winnerInner {
  position: relative;
  animation: beat 0.5s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

.winCode {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #201f1f;
  position: absolute;
  top: 245px;
  left: 345px;
}
